/*navigation*/
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 5px;
    padding-bottom: 8px;

}




/*home*/
#home{
    height: 190px;
    padding: 4px 70px;
}
#home::before{
    height:370px;
}
#home p{
    font-size: 10px;
}



/*service*/
#services{
    flex-direction: column;

}
#services .box{

}



/*clients section */
#client{
    flex-wrap: wrap;

}
#client img{
    width:100px;
    padding: 2px 6px;
    height: auto;
   
}



/*contact us section/*

/*utility*/
.h-primary{
    font-size: 20px;
}




